In [13]:
import numpy as np
import pandas as pd
import tushare as ts

In [40]:
token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [4]:
pro = ts.pro_api(token=token)

In [5]:
adj_fac = pro.adj_factor(ts_code='', trade_date='20180718')

basic = pro.daily_basic(ts_code='', trade_date='20180718')

stock = pro.stock_basic(exchange='', list_status='L')

In [20]:
stock = pd.merge(basic, stock, on='ts_code')

In [21]:
stock.sort_values(by='circ_mv', ascending=False, inplace=True)

In [28]:
sub_stock = stock[stock.industry=='软件服务']

In [32]:
sub_stock.head()

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,...,float_share,free_share,total_mv,circ_mv,symbol,name,area,industry,market,list_date
88,002230.SZ,20180718,31.70,1.1203,1.4286,0.70,151.8709,149.1231,8.5960,12.1246,...,181510.4921,142340.9075,6.601463e+06,5.753883e+06,002230,科大讯飞,安徽,软件服务,中小板,20080512
105,600588.SH,20180718,27.11,3.0707,6.5493,1.46,132.3581,114.9078,9.1973,8.1180,...,187335.1425,87835.3280,5.149800e+06,5.078656e+06,600588,用友网络,北京,软件服务,主板,20010518
157,600406.SH,20180718,15.41,0.1718,0.2645,0.67,21.7972,21.2949,2.9622,2.9190,...,220575.3602,143271.9490,7.063426e+06,3.399066e+06,600406,国电南瑞,江苏,软件服务,主板,20031016
172,600570.SH,20180718,50.68,1.4702,1.8545,0.75,66.4455,64.3817,10.5326,11.7438,...,61780.5180,48979.1952,3.131037e+06,3.131037e+06,600570,恒生电子,浙江,软件服务,主板,20031216
232,002065.SZ,20180718,9.08,1.2935,2.0292,0.86,42.9486,85.9811,3.2712,3.9107,...,279199.7722,177974.4323,2.850927e+06,2.535134e+06,002065,东华软件,北京,软件服务,中小板,20060823

In [35]:
np.split?

Signature: np.split(ary, indices_or_sections, axis=0)
Docstring:
Split an array into multiple sub-arrays.

Parameters
----------
ary : ndarray
    Array to be divided into sub-arrays.
indices_or_sections : int or 1-D array
    If `indices_or_sections` is an integer, N, the array will be divided
    into N equal arrays along `axis`.  If such a split is not possible,
    an error is raised.

    If `indices_or_sections` is a 1-D array of sorted integers, the entries
    indicate where along `axis` the array is split.  For example,
    ``[2, 3]`` would, for ``axis=0``, result in

      - ary[:2]
      - ary[2:3]
      - ary[3:]

    If an index exceeds the dimension of the array along `axis`,
    an empty sub-array is returned correspondingly.
axis : int, optional
    The axis along which to split, default is 0.

Returns
-------
sub-arrays : list of ndarrays
    A list of sub-arrays.

Raises
------
ValueError
    If `indices_or_sections` is given as an integer, but
    a split does not result in equal division.

See Also
--------
array_split : Split an array into multiple sub-arrays of equal or
              near-equal size.  Does not raise an exception if
              an equal division cannot be made.
hsplit : Split array into multiple sub-arrays horizontally (column-wise).
vsplit : Split array into multiple sub-arrays vertically (row wise).
dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).
concatenate : Join a sequence of arrays along an existing axis.
stack : Join a sequence of arrays along a new axis.
hstack : Stack arrays in sequence horizontally (column wise).
vstack : Stack arrays in sequence vertically (row wise).
dstack : Stack arrays in sequence depth wise (along third dimension).

Examples
--------
>>> x = np.arange(9.0)
>>> np.split(x, 3)
[array([ 0.,  1.,  2.]), array([ 3.,  4.,  5.]), array([ 6.,  7.,  8.])]

>>> x = np.arange(8.0)
>>> np.split(x, [3, 5, 6, 10])
[array([ 0.,  1.,  2.]),
 array([ 3.,  4.]),
 array([ 5.]),
 array([ 6.,  7.]),
 array([], dtype=float64)]
File:      e:\programdata\anaconda3\lib\site-packages\numpy\lib\shape_base.py
Type:      function

In [38]:
subs = np.array_split(sub_stock, 3)

In [12]:
adj_fac.head()

     ts_code trade_date  adj_factor
0  000001.SZ   20180718     108.031
1  000002.SZ   20180718     137.300
2  000004.SZ   20180718       4.064
3  000005.SZ   20180718       9.268
4  000006.SZ   20180718      34.226